# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/

# Type Checking
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db